*{
    font-size: 10px;
    font-family: Helvetica, san-serif;
}
th{
    font-size: 12px;
}
#menu{
    padding:auto;
}
table{
    border-collapse: collapse;
}
table tr td{
    padding: 3px;
    border: 1px solid black;
    width: 94px;
}